/*Общие стили*/
html, 
body {
  margin: 0;
  padding: 0;
  
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  font-weight: 400;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #ededed;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Обертка */
.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 768px;
  
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

/* Хедер */
.main-header {
  position: relative;
  
  margin: 0;
  padding: 0;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  
  margin-left: -69px;
}

.main-nav {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0 6%;
  width: 100%;
  
  list-style: none;
  background-color: #ffffff;
}

.menu li {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu li:nth-child(2) {
  margin-right: auto;
  padding-left: 2.8%;
}

.menu li:nth-child(3) {
  padding-right: 3.3%;
}

.menu li:nth-child(1),
.menu li:nth-child(2) {
  text-align: left;
}

.menu li:nth-child(3),
.menu li:nth-child(4) {
  text-align: right;
}

.menu a {
  line-height: 1.857; /* 26px / 14px */
  font-weight: 700;
  color: #000000;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
  outline: none;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Блок intro */
.intro {
  width: 100%;
  min-height: 510px;
  
  background-color: #405d6f;
  background-image: url(../img/mask_intro.png), url(../img/bg_intro.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, 50% 20%;
  background-size: 100% 57px, cover;
}

.intro img {
  margin-top: 76px;
}


/* Блок advantages */

.advantages {
  display: flex;
  flex-flow: column wrap;
  
  box-sizing: border-box;
}

.advantages-wrapper {
  box-sizing: border-box;
  padding: 40px 29.5% 36px 29.5%;
  min-height: 215px;
}

.advantages h2 {
  margin-bottom: 30px;
  
  font-size: 1.5em; /* 21px */
  line-height: 1.24;
  color: #000000;
  font-weight: 700;
}

.reasons {
  margin-top: 15px;
  
  line-height: 1.857;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-flow: row wrap;
}

.advantages .row {
  display: flex;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.row:nth-child(1),
.row:nth-child(3) {
  background-color: #81b3d2;
  color: #ffffff;
}

.row:nth-child(1) h3,
.row:nth-child(3) h3 {
  color: #ffffff;
}

.row:nth-child(4) {
  background-color: #eeeeee;
}

.advantage-item {
  box-sizing: border-box;
  width: 33.333%;
  padding: 25px 4.2% 0 4%;
  min-height: 256px;
}

.advantage-item h3 {  
  font-size: 1.5em; /* 21px */
  line-height: 1;
  color: #000000;
  font-weight: 700;
}

.advantage-number {
  margin-bottom: 23px;
}

.description {
  margin-bottom: 14px;
}

.row:nth-child(1) h3 {
  width: 50%;
  margin: 20px auto 25px auto;
}

.more-advantages .advantage-item {
  box-sizing: border-box;
  min-height: 330px;
  padding-top: 55px;
 
}

.more-advantages .advantage-item::before {
  content: "";
  display: block;
  
  margin: 0 auto 32px auto;
  width: 90px;
  height: 76px;
}

.more-advantages .advantage-item:nth-child(1)::before {
  background: url(../img/icon-1.svg) no-repeat center center;
}

.more-advantages .advantage-item:nth-child(2)::before {
  background: url(../img/icon-3.svg) no-repeat center center;
  background-position: 2.5px center;
}

.more-advantages .advantage-item:nth-child(3)::before {
  background: url(../img/icon-2.svg) no-repeat center center;
}

.advantages-photo {
  position: relative;
  
  margin: 0;
  padding: 0;
  width: 66.667%;
  min-height: 256px;
}

.advantages-photo img {
  min-height: 256px;
}

.row:nth-child(3) .advantage-item {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.advantages-photo img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.row .bridge {
  order: -1;
}

.row:nth-child(4) .advantage-item {
  padding: 45px 5% 0 5%;
}

.row:nth-child(4) h3 {
  width: 50%;
  margin: 0 auto 25px auto;
}


/* Блок appointment */
.appointment {
  position: relative;
  
  box-sizing: border-box;
  min-height: 290px;
  padding-top: 50px;
}

.appointment b {
  display: block;
  
  margin-bottom: 25px;
  
  font-size: 2.143rem; /* 30px / 14px */
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}

.appointment-info {
  line-height: 1.714; /* 24px / 14px */
}

.appointment .button {
  color: #ffffff;
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21px */
  font-weight: 700;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  
  background-color: #766357;
  border: 0;
}

.appointment .button:hover,
.appointment .button:focus {
  background-color: #604e43;
  outline: none;
}

.appointment .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search {  
  display: flex;
  flex-flow: row wrap;
  
  width: 568px;
}

.button:hover {
  cursor: pointer;
}

.hotel-search .button-show-form {
  position: absolute;
  bottom: 0;
  left: 50%;
  
  margin-left: -284px;
  width: 568px;
  min-height: 86px;
}

.appointment-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  
  position: absolute;
  top: 100%;
  left: 50%;
  
  box-sizing: border-box;
  margin-left: -284px;
  padding: 55px;
  width: 568px;
  min-height: 395px;
  
  background-color: #ffffff;
  
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.appointment-form input {
  box-sizing: border-box;
  padding: 5px 10px;
  
  line-height: 1.857; /* 26px / 14px */
  font-weight: 700;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.appointment-form input:hover {
  background-color: #ebebeb;
}

.appointment-form input:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.appointment-form input[name="date-in"],
.appointment-form input[name="date-out"] {
  width: 100%;
}

.input-date-wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 346px;
}

.input-date-wrapper .calendar {
  position: absolute;
  top: 50%;
  right: 9px;
  
  margin-top: -11px;
}

.calendar path {
  fill: #c9c9c9;
}

.calendar:hover,
.appointment-form-button:hover {
  cursor: pointer;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d1;
}

.visitors-count {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  width: 114px;
  height: 38px;
  
  font-size: 0;
}

.appointment-form input[name="adults"],
.appointment-form input[name="children"] {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  width: 38px;
  height: 38px;
  
  font-size: 1rem; /*14px*/
  text-align: center;
}

.appointment-form label {
  box-sizing: border-box;
  padding: 5px 0;
  margin-bottom: 30px;
  width: 112px;
  align-self: center;
  
  text-align: left;
  font-weight: 700;
}

.appointment-form label[for="adults"],
.appointment-form label[for="children"] {
  margin-bottom: 54px;
}

.appointment-form label[for="children"] {
  padding-left: 50px;
}

.appointment-form-button {
  box-sizing: border-box;
  margin: 0;
  width: 38px;
  height: 38px;
  
  font-size: 1.5rem; /*21px / 14px*/
  font-weight: 700;
  color: #a9a9a9;
  
  background-color: #f1f1f1;
  border: 0;
}

.appointment-form-button:hover,
.appointment-form-button:focus {
  color: #000000;
  
  outline: none;
}

.appointment-form-button:active {
  color: #81b3d2;
}

.appointment-form .button-search {
  box-sizing: border-box;
  width: 458px;
  padding: 15px;
  
  background-color: #81b3d2;
}

.appointment-form .button-search:hover,
.appointment-form .button-search:focus {
  background-color: #669ec0;
  outline: none;
}

.appointment-form .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Карта */
.map {
  height: 475px; /*в содержимом нет текста*/
}

.map-wrapper {
  width: 100%;
  height: 593px; /*в содержимом нет текста*/
  overflow: hidden;
}


/* Футер */

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer-wrapper {
  position: relative;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 120px;
  
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 33.333%;
  
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21px */
  font-weight: 700;
  color: #000000;
}

.social {
  width: 33.333%;
}

.social-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  vertical-align: middle;
  
  list-style: none;
}

.social-list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
} 

.social-list a {
  background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
  outline: none;
}

.social-list a:active {
  background-color: #5496bd;
}

.social-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  
  width: 46px;
  height: 48px;

  background-color: #81b3d1;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

.social-item:active::after {
  opacity: 0.3;
}

.social-tw::after {
  background: url(../img/twitter.svg) no-repeat center center;
}

.social-fb::after {
  background: url(../img/fb-icon.svg) no-repeat center center;
}

.social-yt::after {
  background: url(../img/youtube.svg) no-repeat center center;
}

.copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
  width: 33.333%;
  
  line-height: 1.857; /* 26px / 14px */
}

.copyright span,
.copyright-link {
  display: inline-block;
  vertical-align: middle;
}

.copyright-link {
  margin-bottom: -8px;
}

.copyright span {
  margin-right: 5px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d1;
}

.copyright-link:active path {
  fill: #bdbbbb;
}


/*   *** Страница hotels.html ***   */
/*Главное меню*/
a.current,
a.current:hover,
a.current:focus,
a.current:active {
  color: #766357;
}

.filter {
  box-sizing: border-box;
  min-height: 218px;
  padding: 25px 6% 0 6%;
  
  color: #ffffff;
  line-height: 1.5; /* 21px / 14px */
  text-align: left;
  
  background-color: #47769f;
  background-image: url(../img/bg_hotels.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.form-filter {
  display: flex;
  flex-flow: row wrap;
  
  box-sizing: border-box;
}

.form-filter fieldset,
.price-wrapper {
  min-height: 160px;
}

.form-filter fieldset {
  padding: 0;
  margin-right: 100px;
  width: 150px;
  
  border: none;
}

.form-filter fieldset:last-of-type {
  margin-right: 0;
}

.form-filter legend {
  margin-bottom: 12px;
}

.filter-range {
  display: flex;
  flex-flow: column wrap;
  
  box-sizing: border-box;
  width: 31%;
  margin-left: auto;
}

.filter-range h3 {
  margin: 2px 0 12px 3.5%;
  
  font-size: 1.143em; /* 16px / 14px */
  line-height: 1.3125; 
  font-weight: 700;
}

.price-controls {
  position: relative;
  
  box-sizing: border-box;
  height: 36px;
  margin-bottom: 20px;
  margin-left: 3.5%;
  
  font-size: 0;
  
  border: 2px solid #ffffff;
  border-radius: 2px;

}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 2px;
  height: 22px;
  
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  padding-right: 0;
  margin-right: 0;
  
  font-size: 1rem; /*14px*/
  line-height: 2.14; /* 30px / 14px*/
  
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 30.5%;
  padding-top: 1px;
}

.min-price {
  padding-left: 20%;
}

.max-price {
  padding-left: 16.5%;
}

.price-controls input {
  width: 35px;
  margin: 0;
  
  color: inherit;
  font: inherit;
  
  background: 0;
  border: 0;
}

.range-controls {
  position: relative;
  
  margin-left: 3.5%;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  cursor: pointer;
}

.range-toggle:hover {
  width: 22px;
  height: 24px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-range .button-show {
  margin: 0 auto;
  padding: 6px 35px;
  width: 137px;
  box-sizing: border-box;
  
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 2px;
}

.filter-range .button-show:hover,
.filter-range .button-show:focus {
  color: #000000;
  
  background-color: #ffffff;
  outline: none;
}

.form-filter ul {
  padding: 0; 
  list-style: none;
}

.form-filter li {
  position: relative;
  
  margin-bottom: 23px;
}

.infrastructure li {
  padding-left: 38px;
}

.housing li {
  padding-left: 41px;
}

fieldset label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-off.svg) no-repeat top left;
}

fieldset input:checked ~ label::before {
  background: url(../img/checkbox-on.svg) no-repeat top left;
}

fieldset input:disabled ~ label::before {
  background: url(../img/checkbox-off-disabled.svg) no-repeat top left;
}

fieldset input:disabled:checked ~ label::before {
  background: url(../img/checkbox-on-disabled.svg) no-repeat top left;
}

fieldset input:disabled ~ label {
  color: #696969;
}

.filter legend,
.filter label[for="price"] {
  font-size: 1.143em; /*16px / 14px*/
  font-weight: 700;
}

.filter-input:disabled + label {
  color: #6a6a6a;
}

.price-range {
  border: 2px solid #ffffff;
}


/* Блок search-results */

.search-results-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  box-sizing: border-box;
  padding: 8px 6% 0 6%;
  min-height: 85px;
}

.results-amount {
  margin-right: 49px;
  
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21 px*/
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.search-results h3 {
  margin-right: 40px;
  
  font-size: 0.857em; /* 12px / 14px */
  line-height: 1.5;
  color: #000000;
}

.sort {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  width: auto;
}

.sort-list {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  padding: 0;
  
  list-style: none;
}

.sort-list li {
  margin-right: 33px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.sort-list a {
  font-size: 0.857em; /* 12px / 14px */
  line-height: 1.5;
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
  outline: none;
}

.sort-list a:active {
  color: #000000;
  border-bottom: transparent;
}

.sort-list a.sort-current,
.sort-list a.sort-current:hover,
.sort-list a.sort-current:focus,
.sort-list a.sort-current:active {
  color: #81b3d2;
  border-bottom: transparent;
}

.sort-buttons {
  margin-left: auto;
}

.sort-ascending,
.sort-descending {
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
}

.sort-ascending {
  background: url(../img/icon-up-dir.svg) no-repeat center center; 
  margin-right: 10px;
}

.sort-ascending:hover,
.sort-ascending:focus {
  background: url(../img/icon-up-dir-hover.svg) no-repeat center center;
  outline: none;
}

.sort-ascending:active {
  background: url(../img/icon-up-dir-active.svg) no-repeat center center;
}

.sort-descending {
  background: url(../img/icon-down-dir.svg) no-repeat center center;
}

.sort-descending:hover,
.sort-descending:focus {
  background: url(../img/icon-down-dir-hover.svg) no-repeat center center;
  outline: none;
}

.sort-descending:active,
.sort-active {
  background: url(../img/icon-down-dir-active.svg) no-repeat center center;
}


/* Блок found */

.found-list {
  display: flex;
  flex-flow: column wrap;
  
  width: 100%;
}

.found-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 28px 6%;
  box-sizing: border-box;
  min-height: 151px;
  
  border-bottom: 1px solid #e5e5e5;

}

.found-item img {
  order: -1;
  
  width: 135px;
  height: 90px;
  align-self: center;
  margin-left: -1px;
  margin-right: 30px;
}

.found-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.found-info-wrapper {
  width: 350px;
  margin-right: auto;
  
  text-align: left;
}

.found-info-wrapper h4 {
  margin-bottom: 7px;
  margin-top: 0;
}

.hotel-info {
  margin-top: 0;
  margin-bottom: 15px;
}

.hotel-price {
  margin-left: 2px;
}

.found-item a {
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21px */
  text-transform: uppercase;
  color: #000000;
}

.found-item a:hover,
.found-item a:focus {
  color: #81b3d2;
  outline: none;
}

.found-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info span {
  display: inline-block;
  vertical-align: baseline;
  width: 110px;

}

.found-item .button {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.found-item .button:hover,
.found-item .button:focus {
  color: #ffffff;
  outline: none;
}

.found-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.found-item .button-more {
  padding: 3px 17px 5px 17px;
  margin-right: 2px;
  
  background-color: #81b3d2;
}

.found-item .button-more:hover,
.found-item .button-more:focus {
  background-color: #669ec0;
}

.found-item .button-more:active {
  background-color: #5496bd;
}

.found-item .button-book {
  padding: 3px 17px 5px 16px;
  
  background-color: #766357;
}

.found-item .button-book:hover,
.found-item .button-book:focus {
  background-color: #604e43;
}

.found-item .button-book:active {
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: -2px;
}

.rating p {
  margin: 0;
  margin-right: 2px;
  padding: 2px 10px 5px 10px;
  width: 110px;
  box-sizing: border-box;
  
  background-color: #f1f1f1;
}

.rating::before {
  content: "";
  display: block;
  
  height: 17px;
  
  background: url(../img/star_modified.svg) repeat-x left center;
}

.stars-4::before {
  width: 90px;
}

.stars-3::before {
  width: 66px;
}

.stars-2::before {
  width: 42px;
}