/*Общие стили*/
html, 
body {
  margin: 0;
  padding: 0;
  
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  font-weight: 400;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ededed;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Обертка */
.main-wrapper {
  max-width: 1200px;
  
  background-color: #ffffff;
  
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}
/* ширина добавлена сейчас, чтобы сразу можно было увидеть фоны */

/* Хедер */
ul.menu {
  list-style: none;
}

.menu a {
  line-height: 1.857; /* 26px / 14px */
  font-weight: 700;
  color: #000000;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
  outline: none;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Блок intro */
.intro {
  background-color: #405d6f;
  background-image: url(../img/mask_intro.png), url(../img/bg_intro.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  background-size: 100% 57px, cover;
}

/* Блок advantages */

.advantages h2 {
  font-size: 1.5em; /* 21px */
  line-height: 1.24;
  color: #000000;
  font-weight: 700;
}

.reasons {
  line-height: 1.857;
  color: #333333;
}

.advantage-item h3 {
  font-size: 1.5em; /* 21px */
  line-height: 1;
  color: #000000;
  font-weight: 700;
}
/* Для заголовков не прописывалось отдельно свойство font-family, т.к. унаследовано от body:  */

.row:nth-child(1),
.row:nth-child(3) {
  background-color: #81b3d2;
  color: #ffffff;
}

.row:nth-child(1) h3,
.row:nth-child(3) h3 {
  color: #ffffff;
}

.row:nth-child(4) {
  background-color: #eeeeee;
}


/* Блок appointment */
.appointment b {
  font-size: 2.143rem; /* 30px */
  line-height: 1.2;
  font-weight: 700;
  color: #000000;

}

.appointment-info {
  line-height: 1.714; /* 24px / 14px */
}

.appointment .button {
  color: #ffffff;
  font-size: 1.5em; /* 21px */
  line-height: 1.238; /* 26px / 21px */
  font-weight: 700;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  
  background-color: #766357;
  border: 0;
}

.appointment .button:hover,
.appointment .button:focus {
  background-color: #604e43;
  outline: none;
}

.appointment .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.appointment-form {
  background-color: #ffffff;
  
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.appointment-form input {
  box-sizing: border-box;
  
  line-height: 1.857; /* 26px / 14px */
  font-weight: 700;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.appointment-form input:hover {
  background-color: #ebebeb;
}

.appointment-form input:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.appointment-form .button-search {
  background-color: #81b3d2;
}

.appointment-form .button-search:hover,
.appointment-form .button-search:focus {
  background-color: #669ec0;
  outline: none;
}

.appointment-form .button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* Футер */
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag p {
  font-size: 1.5em; /* 21px */
  line-height: 1.238; /* 26px / 21px */
  font-weight: 700;
  color: #000000;
}

ul.social-list {
  list-style: none;
}

.social-list a {
  background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
  outline: none;
}

.social-list a:active {
  background-color: #5496bd;
}
/*стили для иконок будут добавлены после вставки svg; текст ссылок в дальнейшем будет скрыт, поэтому ему параметры не задаем*/

.copyright p {
line-height: 1.857; /* 26px / 14px */
}
/*стили для ссылки будут заданы после замены текста ссылки на svg*/

/*   *** Страница hotels.html ***   */
/*Главное меню*/
a.current,
a.current:hover,
a.current:focus,
a.current:active {
  color: #766357;
}

.filter {
  color: #ffffff;
  line-height: 1.5; /* 21px / 14px */
  text-align: left;
  
  background-color: #47769f;
  background-image: url(../img/bg_hotels.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.filter ul {
  padding: 0;
  list-style: none;
}

.filter fieldset {
  border: none;
}

.filter legend,
.filter label[for="price"] {
  font-size: 16px; /*16px / 14px*/
  font-weight: 700;
}

.filter-input:disabled + label {
  color: #6a6a6a;
}

.price-range {
  border: 2px solid #ffffff;
}

.filter .button {
  box-sizing: border-box;
  
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  
  border: 2px solid #ffffff;
  background-color: transparent;
}

.filter .button:hover,
.filter .button:focus {
  color: #000000;
  
  background-color: #ffffff;
  outline: none;
}

/* Блок search-results */
.results-amount {
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21 px*/
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.search-results h3 {
  font-size: 0.857em; /* 12px / 14px */
  line-height: 1.5;
  color: #000000;
}

ul.sort-list {
  list-style: none;
}

.sort-list a {
  font-size: 0.857em; /* 12px / 14px */
  line-height: 1.5;
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
  outline: none;
}

.sort-list a:active {
  color: #000000;
  border-bottom: transparent;
}

.sort-list a.sort-current,
.sort-list a.sort-current:hover,
.sort-list a.sort-current:focus,
.sort-list a.sort-current:active {
  color: #81b3d2;
  border-bottom: transparent;
}

/*стили для кнопок прямо-обратной сортировки будут заданы позднее, после замены текста ссылок на svg*/

/* Блок found */
.found-item {
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.found-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.found-item a {
  font-size: 1.5em; /* 21px / 14px */
  line-height: 1.238; /* 26px / 21px */
  text-transform: uppercase;
  color: #000000;
}

.found-item a:hover,
.found-item a:focus {
  color: #81b3d2;
  outline: none;
}

.found-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.found-item .button {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.found-item .button:hover,
.found-item .button:focus {
  color: #ffffff;
  outline: none;
}

.found-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.found-item .button-more {
  background-color: #81b3d2;
}

.found-item .button-more:hover,
.found-item .button-more:focus {
  background-color: #669ec0;
}

.found-item .button-more:active {
  background-color: #5496bd;
}

.found-item .button-book {
  background-color: #766357;
}

.found-item .button-book:hover,
.found-item .button-book:focus {
  background-color: #604e43;
}

.found-item .button-book:active {
  background-color: #503e33;
}

/*   *** Сеточные стили ***   */

.main-wrapper {
  max-width: 1200px;
  min-width: 768px;
  
  margin: 0 auto;
  
  outline: 2px solid red;
}

.main-header {
  margin: 0;
  padding: 0;
  
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  
  margin-left: -69px;
}

.main-nav {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
}

.menu {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
  width: 100%;
  margin: 0;
  padding: 0;

  outline: 5px solid green;
}
/*по ТЗ внутренние отступы меню 6%; вместо прямого их задания, этот эффект создан за счет распределения флекс-элементов в нем*/

.menu::after {
  content: "";
  display: block;
  width: 20.4%;
  height: 20px;
}

.menu li {
  width: 19.9%;
  
  
  outline: 2px solid blue;
}

.menu li:nth-child(3),
.menu li:nth-child(4) {
  order: 1;
}

.menu a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  
}

.intro {
  width: 100%;
  min-height: 510px;
  
  outline: 2px solid green;
}

.intro img {
  margin-top: 76px;
}

.advantages-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; 

  box-sizing: border-box;
  min-height: 216px;
  padding-left: 29.0%;
  padding-right: 29.5%;
  
  outline: 2px solid green;
}

.advantages-list {
  display: flex;
  flex-flow: row wrap;
}

.advantages .row {
  display: flex;
  width: 100%;
  padding: 0;
  overflow: hidden;
 
  outline: 2px solid blue;
}

.advantage-item {
  display: flex:
  flex-flow: column wrap;
  justify-content: space-around;
  
  box-sizing: border-box;
  width: 33.333%;
  min-height: 256px;
  padding-top: 25px;
  padding-left: 4.2%;
  padding-right: 4.0%;
  
  outline: 2px solid green;

}

.more-advantages .advantage-item {
  min-height: 330px;
}


.more-advantages .advantage-item::before {
  content: "";
  display: block;
  margin: 0 auto;
  
  width: 76px;
  height: 76px;
  background-color: red;
}

.advantages-photo {
  position: relative;
  
  width: 66.666%;
  min-height: 256px;
}


.advantages-photo img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
}

.row .bridge {
  order: -1;
}

.appointment {
  position: relative;
  
  box-sizing: border-box;
  
  min-height: 290px;
  padding-top: 35px;
  
/*  outline: 2px solid blue;*/
  
}

.hotel-search {  
  display: flex;
  flex-flow: row wrap;
  
  width: 568px;
}

.hotel-search .button-show-form {
  position: absolute;
  bottom: 0;
  left: 50%;
  
  margin-left: -284px;
  
  width: 568px;
  min-height: 86px;
  
}

.hotel-search .appointment-form {
  position: absolute;
  top: 100%;
  left: 50%;
  
  margin-left: -284px;
  
  width: 568px;
  min-height: 395px;
}

.map {
  height: 475px; /*в содержимом нет текста*/
  
  outline: 2px solid blue;
}

.map-wrapper {
  width: 100%;
  height: 593px; /*в содержимом нет текста*/
  overflow: hidden;
}


.main-footer {
  position: relative;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  padding-left: 6%;
  padding-right: 6%;
  
  min-height: 120px;
  
  outline: 2px solid blue;
}

.hashtag {
  width: 20%;
}

.social {
  width: 33.333%;
}

.copyright {
  width: 20%;
}

/*   *** Сеточные стили для hotels *** */

.filter {
  box-sizing: border-box;
  min-height: 218px;
  padding-left: 5.9%;
  padding-right: 5.9%;
  padding-top: 25px;
}

.form-filter {
  display: flex;
  flex-flow: row wrap;
  
  box-sizing: border-box;
}

.form-filter fieldset,
.price-wrapper {
  min-height: 160px; /*временно для сетки*/
}

.form-filter fieldset {
  padding: 0;
  margin-right: 100px;
  
  width: 150px;
  
  outline: 2px solid green;
}

.form-filter fieldset:last-of-type {
  margin-right: 0;
}

.price-wrapper {
  display: flex;
  flex-flow: column wrap;
  
  box-sizing: border-box;
  width: 30.6%;
  margin-left: auto;
  
  outline: 2px solid green;
}

.price-wrapper .button-show {
  margin: 0 auto;
  
  width: 137px;
}

.search-results-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  box-sizing: border-box;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 8px;
  min-height: 85px;
}

.sort {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  width: auto;
}

.results-amount,
.sort h3,
.sort-list,
.sort-buttons {
  outline: 2px solid blue;
}

.sort-list {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  
  padding: 0;
}

.results-amount {
  margin-right: 49px;
}

.sort h3 {
  margin-right: 40px;
}

.sort-list li {
  margin-right: 33px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.sort-buttons {
  margin-left: auto;
}

.sort-ascending,
.sort-descending {
  display: inline-block;
  
  width: 11px;
  height: 10px;
  
  overflow: hidden; /*временно, до замены текста на svg*/
  color: transparent; /*временно, до замены текста на svg*/
}

.sort-ascending {
  background: url(../img/icon-up-dir.svg) no-repeat center center; /*временно, до замены текста на svg*/
  margin-right: 12px;
}

.sort-descending {
  background: url(../img/icon-down-dir.svg) no-repeat center center; /*временно, до замены текста на svg*/
}

.found-list {
  display: flex;
  flex-flow: column wrap;
  
  width: 100%;
  
  outline: 2px solid green;
}

.found-item {
  display: flex;
  align-items: center;
  padding-left: 6%;
  padding-right: 6.1%;
  
  box-sizing: border-box;
  width; 100%;
  min-height: 151px; /* временно для сетки */
}

.found-item img,
.found-info-wrapper,
.rating {
  outline: 2px solid blue;
}

.found-item img {
  order: -1;
  margin-right: 30px;
}

.rating {
  margin-left: auto;
  width: 110px;
}


